<!doctype html>
<html lang="{{ website.locale|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title|default(website.name) }}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,600;1,8..60,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ public_assets_dir }}/css/all.css">
</head>
<body class="blog">
<div class="wrap">
    {% include 'partials/header.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html.twig' %}
</div>
<script defer src="{{ public_assets_dir }}/js/theme.js"></script>
</body>
</html>
